/* Nav Bar*/

.nav-background{
	width: 100%;
	height: 50px;
	margin: 0;
	background: CadetBlue;
	position: sticky;
	top: 0;
}

.nav-bar{
	width: 100%;
	height: 50px;
	margin: 0;
	top: 0;
	background: CadetBlue;
	position: sticky;
	}

.nav-bar > .element{
	width: 24%;
	line-height: 50px;
	text-align: center;
	color: white;
	display: inline-block;
	margin: 0;
	font-family: fantasy;
	text-decoration: none;
}

.nav-bar > .element :hover{
	color: black;
	cursor: pointer;
}


/* General */

.empty-box{
	background-color: white;
	color: white;
	padding: 20px;
}


.exp-header{
  color: white;
  font-family: Blagovest;
  font-size: 2em;
  font-style: bold;
  padding-left: 20px;
  text-align: left; 
}

.exp-sub{
  color: white;
  font-family: Blagovest;
  font-size: 1.5em;
  font-style: bold;
  padding-left: 20px;
  text-align: left;
}

.exp-words{
  background-color: white;
  color: DimGrey;
  font-family: Tahoma;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.o-header{
  background-color: white;
  color: #395e60;
  font-family: Blagovest;
  font-size: 3em;
  font-style: bold;
  padding: 20px;
  text-align: center; 
}

.dance-header{
  background-color: white;
  color: #395e60;
  font-family: Blagovest;
  font-size: 3em;
  font-style: bold;
  padding: 20px;
  text-align: center; 
}

.da-header{
  color: CadetBlue;
  font-family: Blagovest;
  font-size: 2em;
  font-style: bold;
  padding-left: 20px;
  text-align: left; 
}

.da-sub{
  color: DimGrey;
  font-family: Blagovest;
  font-size: 1.5em;
  font-style: bold;
  padding-left: 20px;
  text-align: left;
}

.ed-header{
  background-color: white;
  color: CadetBlue;
  font-family: Blagovest;
  font-size: 2em;
  font-style: bold;
  padding-left: 20px;
  text-align: center; 
}

.ed-sub{
  background-color: white;
  color: DimGrey;
  font-family: Blagovest;
  font-size: 1.5em;
  font-style: bold;
  padding-left: 20px;
  text-align: center;
}

/* About me section*/

.about-image{
  float: left;
  display: fixed;
  padding: 15px;
}

.about-text{
  background-color: white;
  color: DimGrey;
  font-family: Tahoma;
  font-size: 1.15em;
  padding: 20px;
  padding-left: 50px;
  text-align: center;
}

/* Experience Expanding Section: copied from W3 Schools; */
.collapsible {
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #395e60;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}


/* Code taken from W3 Schools*/
/* Icons from fontawesome.com*/

.fa {
  padding: 15px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
	background: #5B2880;
	color: white;
}

.fa-envelope-o {
	background: #1ac6ff;
	color: white;
}

.fa-file-text-o {
	background: #009973;
	color: white;
}

/* Code taken from INSERT NAME*/
/* TABLE */ 


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  border: black;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px ;
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
  border: black;
}

.table {
  width: 80%;
  display: table;
  margin: 0;
  border: black;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #395e60;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Tahoma;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Tahoma;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.row.header .cell {
  font-family: Blagovest;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
}

.row .cell:nth-child(1) {
  width: 200px;
}

.row .cell:nth-child(2) {
  width: 200px;
}

.row .cell:nth-child(3) {
  width: 200px;
}


.table, .row {
  width: 100% !important;
}

.row:hover {
  background-color: CadetBlue;
  color: #fff;
  opacity: 70%;
}

/* Code adapted from W3 Schools */
/* Video formatting for Dance section */

/*

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*/

/* Code from W3 Schools */
/* Drop-down button for schedule */


.dropbtn {
  background-color: CadetBlue;
  color: white;
  font-family: Tahoma;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.dropdown {
  text-align: center;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  font-family: Tahoma;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: Tahoma;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  min-width: 160px;
  background-color: #395e60;
}


