.nav-bar{
	width: 100%;
	height: 50px;
	margin: 0;
	background: CadetBlue;
	position: sticky;
	top: 0;
	margin: 20px;}

.nav-bar > .element{
	width: 24%;
	line-height: 50px;
	text-align: center;
	color: white;
	display: inline-block;
	margin: 0;
	font-family: fantasy;
	text-decoration: none;
}

.o-header{
	background-color: white;
	color: #395e60;
	font-family: Blagovest;
	font-size: 3em;
	font-style: bold;
	padding: 20px;
	text-align: center;	
}

.about-text{
	background-color: white;
	color: DimGrey;
	font-family: Tahoma;
	font-size: 1.25em;
	padding: 20px;
	text-align: center;
}

.empty-box{
	background-color: white;
	color: white;
	padding: 20px;
}

.exp-header{
	background-color: white;
	color: CadetBlue;
	font-family: Blagovest;
	font-size: 2em;
	font-style: bold;
	padding-left: 20px;
	text-align: left;	
}

.exp-sub{
	background-color: white;
	color: DimGrey;
	font-family: Blogovest;
	font-size: 1.5em;
	font-style: bold;
	padding-left: 20px;
	text-align: left;
}

.exp-words{
	background-color: white;
	color: DimGrey;
	font-family: Tahoma;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: left;
}